@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #FAFAFA;
  --text-color: #383838;
}

/* styles/globals.css */
@font-face {
  font-family: 'ARTSCHOOL';
  src: url('/assets/fonts/ARTSCHOOLDROPOUT-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ARTSCHOOL-Skinny';
  src: url('/assets/fonts/ARTSCHOOLDROPOUT-Skinny.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


/* Add Tailwind imports after your custom fonts */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Mukta, sans-serif;
}
